.videoBlock{
    width: 900px;
    height: 500px;
    max-width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
}
#controlsBlock{
    width: 25%;
    height: 540px;
    display: inline-block;
    vertical-align: top;
}
#dataBlock{
    width: 100%;
    height: 40px;
}
#toTask-btn{
    vertical-align: bottom;
    width: 100%;
}
#toVideo-btn{
    vertical-align: bottom;
    width: 100%;
}
#taskBlock{
    margin-left: 100px;
}
