#videoBlock{
    width: 1200px;
    height: 600px;
    max-width: 70%;
    position: relative;
    display: inline-block;
    background-color: #0a53be;
}
#controlsBlock{
    width: 25%;
    height: 600px;
    position: relative;
    display: inline-block;
    background-color: #0f5132;
}
#progressBlock{
    width: 100%;
    height: 40px;
    background-color: #510f27;
}